nav {
   display: flex;
   justify-content: space-between;
   padding: 1.5rem 4rem;
   align-items: center;

   .logo {
      max-width: 90px;
      cursor: pointer;
   }

   .website-nav {
      display: flex;
      gap: 4rem;
      align-items: center;
      letter-spacing: 1px;
      font-weight: 500;
   }

   a {
      text-decoration: none;
      color: white;
      cursor: pointer;
   }
}