nav {
   display: flex;
   justify-content: space-between;
   padding: 1.5rem 4rem;
   align-items: center;

   .logo {
      max-width: 90px;
      cursor: pointer;
   }

   .website-nav {
      display: flex;
      gap: 4rem;
      align-items: center;
      letter-spacing: 1px;
      font-weight: 500;

      .nav-btn {
         position: relative;
         .btn {
            display: flex;
            align-items: center;
            gap: .5rem;
   
            img {
               max-width: 30px;
            }
         }
      }

      .nav-btn::after {
         content: '';
         height: 3px;
         width: 100%;
         background-color: white;
         position: absolute;
         bottom: -5px;
         opacity: 0;
         transition: all 0.3s;
         pointer-events: none;
      }

      .nav-btn:hover::after,
      .nav-btn:focus::after {
         opacity: 1;
         color: white;
      }
   }

   a {
      text-decoration: none;
      color: white;
      cursor: pointer;
   }
}